{% comment %}
  {
    /**
    * 追加クラス
    */
    class: string
    /**
    * sortする日時
    */
    target_date: Date
    /**
    * 上映作品(メタオブジェクト)
    */
    movie: Object
    /**
    * タイトルを表示するか
    */
    is_title:boolean
  }
{% endcomment %}

{% liquid
  assign is_product = false
  for product_ in movie.products.value
    assign convert_showtimes_start = product_.metafields.custom.showtimes_start | date: '%Y-%m-%d'
    assign convert_target_date_ = target_date | date: '%Y-%m-%d'
    if convert_showtimes_start == convert_target_date_
      assign is_product = true
    endif
  endfor
%}

{% if is_title %}
  {% if is_product %}
    <div class="flex h-full flex-col divide-y border {{class}}">
      <h3 class="p-4 text-xl font-semibold">
        {{ movie.title }}
      </h3>
      <div class="space-y-[2rem]">
        {% liquid
          for product_ in movie.products.value
            assign convert_showtimes_start_date_ = product_.metafields.custom.showtimes_start | date: '%Y-%m-%d'
            assign convert_target_date_ = target_date | date: '%Y-%m-%d'
            if convert_showtimes_start_date_ == convert_target_date_
              render 'molecules.schedule-list-item', href: product_.url, start_time: product_.metafields.custom.showtimes_start, end_time: product_.metafields.custom.showtimes_end
            endif
          endfor
        %}
      </div>
    </div>
  {% endif %}
{% else %}
  <div class="space-y-[2rem]">
    {% liquid
      for product_ in movie.products.value
        assign convert_showtimes_start_date_ = product_.metafields.custom.showtimes_start | date: '%Y-%m-%d'
        assign convert_target_date_ = target_date | date: '%Y-%m-%d'
        if convert_showtimes_start_date_ == convert_target_date_
          render 'molecules.schedule-list-item', href: product_.url, start_time: product_.metafields.custom.showtimes_start, end_time: product_.metafields.custom.showtimes_end
        endif
      endfor
    %}
  </div>
{% endif %}
