{% liquid
  # メタオブジェクト詳細情報取得
  assign movie_handle = request.path | split: '/' | last
  assign movie = shop.metaobjects.movies[movie_handle]

  assign showtimes_starts_ = movie.products.value | map: 'metafields' | map: 'custom' | map: 'showtimes_start' | join: ','
  assign showtimes_starts_sort_ = showtimes_starts_ | split: ',' | sort
  assign showtimes_start_date_uniq_ = ''
  # 現在の日付
  assign today = 'today' | date: '%Y-%m-%d' | date: '%s'

  # 上映日/上映日時生成・ソート
  for showtimes_start_sort_ in showtimes_starts_sort_
    assign showtimes_start_sort_seconds_ = showtimes_start_sort_ | date: '%s'
    if today < showtimes_start_sort_seconds_
      assign formated_showtimes_start_ = showtimes_start_sort_ | date: '%Y-%m-%d'
      assign showtimes_start_date_uniq_ = showtimes_start_date_uniq_ | append: formated_showtimes_start_ | append: ','
    endif
  endfor
  # 公開日(重複は削除)
  assign showtimes_start_date_uniq_ = showtimes_start_date_uniq_ | split: ',' | uniq
%}

<div class="mt-[3rem]">
  {% for showtime_start_date_uniq_ in showtimes_start_date_uniq_ %}
    <h2 class="text-[3rem]">
      {% assign target_date_ = showtime_start_date_uniq_ | date: '%-m月%-d日 %a' %}
      {% render 'function.convert-date', target_: target_date_ %}
    </h2>
    {% render 'molecules.schedule-list', movie: movie, target_date: showtime_start_date_uniq_ %}
  {% endfor %}
</div>
