{% liquid
  # assign showtimes_start_date_uniq_ = ''
  assign movies = shop.metaobjects.movies.values

  assign showtimes_start_date_uniq_ = ''
  for movie in movies
    assign showtimes_starts_ = movie.products.value | map: 'metafields' | map: 'custom' | map: 'showtimes_start' | join: ','
    assign showtimes_starts_sort_ = showtimes_starts_ | split: ',' | sort
    # 現在の日付
    assign today = 'today' | date: '%Y-%m-%d' | date: '%s'
    # 上映日/上映日時生成・ソート
    for showtimes_start_sort_ in showtimes_starts_sort_
      assign showtimes_start_sort_seconds_ = showtimes_start_sort_ | date: '%s'
      if today < showtimes_start_sort_seconds_
        assign formated_showtimes_start_ = showtimes_start_sort_ | date: '%Y-%m-%d'
        assign showtimes_start_date_uniq_ = showtimes_start_date_uniq_ | append: formated_showtimes_start_ | append: ','
      endif
    endfor
  endfor
  assign showtimes_start_date_uniq_ = showtimes_start_date_uniq_ | split: ',' | uniq
%}

{% for showtime_start_date_uniq_ in showtimes_start_date_uniq_ %}
  <section>
    <h2 class="text-[3rem]">
      {% assign target_date_ = showtime_start_date_uniq_ | date: '%-m月%-d日 %a' %}
      {% render 'function.convert-date', target_: target_date_ %}
    </h2>
    <div>
      {% for movie in movies %}
        {% render 'molecules.schedule-list', movie: movie, target_date: showtime_start_date_uniq_, is_title: true %}
      {% endfor %}
    </div>
  </section>
{% endfor %}
