<div x-data="{ ticketQuantity: 0 }">
  <label for="ticket-quantity">Number of Tickets:</label>
  <input
    type="number"
    id="ticket-quantity"
    name="quantity"
    x-model="ticketQuantity"
    min="0"
    required>
  <form
    action="/cart/add"
    method="post"
    @submit="submitForm">
    <div id="variant-selection">
      <template x-for="ticket in Array.from({ length: ticketQuantity }, (v, i) => i)" :key="ticket">
        <div class="ticket-item">
          <h4 x-text="`Ticket ${ticket + 1}`"></h4>
          <select :name="`items[][id]`" required>
            <option value="">Select Variant</option>
            {% for variant in product.variants %}
              <option value="{{ variant.id }}">{{ variant.title }}</option>
            {% endfor %}
          </select>
        </div>
      </template>
    </div>
    <button type="submit">Add to Cart</button>
  </form>
</div>